### Loading data from csv file

In [13]:
table = [["Sun",696000,1989100000],
         ["Earth",6371,5973.6],
         ["Moon",1737,73.5],
         ["Mars",3390,641.85]]

In [36]:
headers = ["Planet","R (km)", "mass (x 10^29 kg)"]

In [12]:
from tabulate import tabulate

In [37]:
print(tabulate(table, headers, tablefmt="grid"))

+----------+----------+---------------------+
| Planet   |   R (km) |   mass (x 10^29 kg) |
+==========+==========+=====================+
| Sun      |   696000 |          1.9891e+09 |
+----------+----------+---------------------+
| Earth    |     6371 |       5973.6        |
+----------+----------+---------------------+
| Moon     |     1737 |         73.5        |
+----------+----------+---------------------+
| Mars     |     3390 |        641.85       |
+----------+----------+---------------------+

In [ ]:
data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'last_name': ['Miller', 'Jacobson', ".", 'Milner', 'Cooze'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, ".", "."],
        'postTestScore': ["25,000", "94,000", 57, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'preTestScore', 'postTestScore'])
df

In [ ]:
spend = read_csv('data/file.csv')

In [ ]:
from datetime import datetime
date_parser = lambda timestamp: datetime.fromtimestamp(timestamp)

In [ ]:
spend = read_csv('data/spend.csv.gz', compression='gzip', 
                 dtype={'account': str, 'date': np.float64, 'amount': np.float64},
                 parse_dates=['date'], date_parser=date_parser)