In [1]:
import json
import pandas as pd
import time

In [2]:
f = open('./data/episodes.json')
data = json.load(f)
f.close()

In [3]:
# df[1]['scenes'][1]['sceneEnd']
# df[1]['scenes'][1]['characters'][1]['name']
# t = data['episodes'][1]['scenes'][1]['sceneEnd']
# time.strptime(t, "%H:%M:%S")

data_list = list()

for episode in data['episodes']:
    seasonNum = episode['seasonNum']
    episodeNum =  episode['episodeNum']  
    for scene in episode['scenes']:
        sceneStart = scene['sceneStart']
        sceneEnd = scene['sceneEnd']
        for character in scene['characters']:
            characterName = character['name']
            row = [seasonNum, episodeNum, characterName, sceneStart, sceneEnd]
            data_list.append(row)   
            
            
df = pd.DataFrame(columns=['season_num', 'episode_num', 'character_name', 'scene_start_time', 'scene_end_time'], 
                      data=data_list)

In [4]:
def duration(row):
    t_start = time.strptime(row['scene_start_time'], "%H:%M:%S")    
    t_end = time.strptime(row['scene_end_time'], "%H:%M:%S")
    
    t_start_sec = 3600*t_start.tm_hour + 60*t_start.tm_min +t_start.tm_sec
    t_end_sec = 3600*t_end.tm_hour + 60*t_end.tm_min + t_end.tm_sec
    duration_sec = t_end_sec - t_start_sec
    return duration_sec

In [5]:
def duration(t_start, t_end):
    t_start_sec = 3600*t_start.tm_hour + 60*t_start.tm_min +t_start.tm_sec
    t_end_sec = 3600*t_end.tm_hour + 60*t_end.tm_min + t_end.tm_sec
    duration_sec = t_end_sec - t_start_sec
    return duration_sec

In [6]:
df.head()

   season_num  episode_num character_name scene_start_time scene_end_time
0           1            1          Gared          0:00:40        0:01:45
1           1            1   Waymar Royce          0:00:40        0:01:45
2           1            1           Will          0:00:40        0:01:45
3           1            1          Gared          0:01:45        0:03:24
4           1            1   Waymar Royce          0:01:45        0:03:24